<div style="width: 250px; position: fixed; top: 36.8px; height:96.3vh;" class="border">
        <div>
            <div class="" style="width: 100%; height: 150px;">
                <a href="#">
                    <img src="/img/perfil-default.png" alt="Foto de perfil padrão" style="widht: 100%"/>
                </a>
            </div>
            <ul class="list-group" style="border-radius: 0">
                <li class="list-group-item">
                    <i class="bi bi-person-circle pe-2"></i>
                    Funcionarios
                </li>
                <li class="list-group-item">
                    <a href="/users" style="text-decoration: none; color: #212529;">
                        <i class="bi bi-person-vcard pe-2"></i>
                        Usuários
                    </a>
                </li>
                <li class="list-group-item">
                    <i class="bi bi-person-fill-gear pe-2"></i>
                    Minha Conta
                </li>
                <li class="list-group-item">
                    <a href="/new-user" style="text-decoration: none; color: #212529;">
                        <i class="bi bi-person-fill-add pe-2"></i>
                        Create new user
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/logout" style="text-decoration: none; color: #212529;">
                        <i class="bi bi-box-arrow-in-right pe-2"></i>
                        logout
                    </a>
                </li>
            </ul>
        </div>
</div>