<div style="width: 250px; position: fixed; top: 36.8px; height:100vh;" class="border">
    <ul class="list-group" style="border-radius: 0">
        <li class="list-group-item">Funcionarios</li>
        <li class="list-group-item">Usuários</li>
    </ul>
</div>