.bg-navbar {
    background-color: #35557F;
}

.bg-header {
    background-color: #00B6AD;
    border-radius: .25rem .25rem 0 0;
}

.bg-feminino {
    background-color: #ff2165;
}

.bg-masculino{
    background-color: #00b3ed;
}

.btn-header {
    background-color: #35557F;
    color: white;
}

.btn-header:hover {
    background-color: white ;
    color: #35557F;
    border: 1px solid;
}

.btn-cadastrar {
    background-color: #059790;
    color: white;
}

.btn-paginator {
    color: white;
    background-color: #35557F;
    border: 1px solid;
}

.btn-paginator-atual {
    background-color: white;
    color: #35557F;
    border: 1px solid #35557F;
}