:root {
    --azul-principal: #35557F;
    --verde-principal: #00B6AD;
    --verde-secundario: #059790;
    --branco: #FFFFFF;
    --rosa-feminino: #ff2165;
    --azul-masculino: #00b3ed;
}

.bg-navbar {
    background-color: var(--azul-principal);
}

.bg-header {
    background-color: var(--verde-principal);
    border-radius: .25rem .25rem 0 0;
}

.bg-feminino {
    background-color: var(--rosa-feminino);
}

.bg-masculino{
    background-color: var(--azul-masculino);
}

.btn-header {
    background-color: var(--azul-principal);
    color: var(--branco);
}

.btn-header:hover {
    background-color: var(--branco);
    color: var(--azul-principal);
    border: 1px solid;
}

.btn-cadastrar {
    background-color: var(--verde-secundario);
    color: var(--branco);
}

.btn-paginator {
    color: var(--branco);
    background-color: var(--azul-principal);
    border: 1px solid;
}

.btn-paginator-atual {
    background-color: var(--branco);
    color: var(--azul-principal);
    border: 1px solid var(--azul-principal);
}

.page-not-found {
    margin-top: 20vh;
}