<form action="" methods="post">
    <h1 class="text-center">Login</h1>

    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3">Email address:</label>
        <input type="email" 
            class="form-control"
            placeholder="your email"
            required
            autofocus
            />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example4">Password:</label>
        <input type="password" 
            placeholder="your password"
            class="form-control" 
            required
            />
        <a href="/#">Forgot password.</a>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign up
        </button>
    </div>
</form>